@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #1c1c1c;
  font-family: 'Courier New', Courier, monospace, 'Montserrat';
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}